.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container, header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form{
  background-color: #98ac41;
  padding: 4rem;
  border-radius: 10px;
}
fieldset{
  border-radius: 10px;
  background-color: #687e12;
}
.list-title{
  font-size: 2rem;
  text-align: center;
}
#create-employee {
  text-align: center;
}
#create-employee input {
  width: 100%;
}
#create-employee label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}
.address {
  margin-top: 10px;
}
a, button {
  font-family: 'Copperplate';
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  color: black;
  font-weight: bold;
  background-color: #687e12;
}
#create-employee button{
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}
.close{
  padding: 0.5rem 0.8rem;
}
footer {
  text-align: center;
  height: 100px;
}
.prov {
  margin-bottom: 1rem;
}
