
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container, header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form{
  background-color: #98ac41;
  padding: 4rem;
  border-radius: 10px;
}
fieldset{
  border-radius: 10px;
  background-color: #687e12;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}
a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  color: black;
  font-weight: bold;
  background-color: #687e12;
}